/*body{
	background-color: blue;
	grid: 10px;
}
.grid-container	> div{
	display: inline-grid;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 4;
}

.grid-item{
	background-color: aqua;

}*/

.grid-container {
    display: grid;
    grid-template-columns: 80px 200px auto 30px;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
